* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

canvas {
  inset: 0;
  margin: auto;
  position: absolute;
  border: 2px solid black;
}

.color {
  color: hsla(210, 50%, 15%, 0.267);
}
